/* Use the font config as variables in your SCSS */

$font-heading: {{ $.Site.Params.font_config.heading | default "'Roboto', sans-serif" }};
$font-body: {{ $.Site.Params.font_config.body | default "'Roboto', sans-serif" }};
$font-title: {{ $.Site.Params.font_config.brand | default "'Roboto', sans-serif" }};
$font-footer: {{ $.Site.Params.font_config.footer | default "'Roboto', sans-serif" }};

body {
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
 font-family: $font-heading !important;
}

footer {
  font-family: $font-footer !important;
}

.brand a, .brand p, .tagline, #navbar{
  font-family: $font-title !important;
  font-weight: 400 !important;
}
